.navbar-custom {
    display: flex;
    width: 7.5rem;
    height: 100%;
}

.full-height {
    height: 100vh;
    align-items: flex-start;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

/* Customize the toast message */
.toast-message {
    background-color: #333; /* Change the color of the toast box */
    color: #fff; /* Change the color of the message */
}

/* Customize the progress bar */
.toast-progress-bar {
    background: rgb(255, 132, 0); /* Change the color of the progress bar */
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.table-container {
    width: 80%;
    margin-top: 3rem;
}

.table-container-Table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    scale: 0.8;
    width: 80%;
    margin-top: 3rem;
}

.my-table {
    scale: 0.9;
    border-collapse: collapse;
}

.staff-table {
    margin-top: 2rem;
    margin-right: 2rem;
}

.staff-form {
    margin-top: auto;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.table-row {
    color: #ffd900;
}

.menu-form {
    margin-top: auto;
    margin-bottom: auto;
    width: 1px;
}

.cart-button {
    margin-top: 1rem;
    margin-bottom: auto;
    margin-left: 75rem;
    width: auto;
    z-index: 1;
    position: absolute;
}

.menu {
    margin-left: 8rem;
    z-index: 0;
    position: relative;
}
